<section id="content">
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Home</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li><a href="#" class="active">Dashboard</a></li>
        </ul>
      </div>
    </div>
    <div class="head-info">
      <ul class="box-info">
        <li>
          <i class="bx bx-hotel"></i>
          <span class="text">
            <h3>{{ productSummary }}</h3>
            <p>Total Pasien</p>
          </span>
        </li>
        <li>
          <i class="bx bx-plus-medical"></i>
          <span class="text">
            <h3>0</h3>
            <p>Total Room</p>
          </span>
        </li>
        <li>
          <i class="bx bx-bell"></i>
          <span class="text">
            <h3>0</h3>
            <p>Notifications</p>
          </span>
        </li>
      </ul>
    </div>
    <div class="head-table"></div>
  </main>
</section>
